// BEM 架构
// 选择器类名 .namespace-block__element--modifier
$ns: 'yuki' !default; // namespace
$block-sel: '-' !default; // namespace-block
$elem-sel: '__' !default; // block__element
$mod-sel: '--' !default; // element--modifier

@mixin bfc {
  height: 100%;
  // overflow 属性值不等于 visible 的元素, 都开启了 bfc
  overflow: hidden;
}

// block
@mixin b($block) {
  .#{$ns + $block-sel + $block} {
    @content; // 选择器的内容
  }
}

// element
@mixin e($elem) {
  $parent: &; // block
  @at-root {
    #{$parent + $elem-sel + $elem} {
      @content;
    }
  }
}

// modifier
@mixin m($mod) {
  $parent: &; // element
  @at-root {
    #{$parent + $mod-sel + $mod} {
      @content;
    }
  }
}
