.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // z-index: 100;
  background: lightgreen;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: normal;
  color: #fff;
}

.modal-content {
  padding: 20px 0;
  flex: 1;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-close-btn {
  margin-right: 10px;
  background-color: lightpink;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-confirm-btn {
  margin-left: 10px;
  background: lightblue;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
