@font-face {
  font-family: "FiraNeo";
  src: url(../../src/assets/FiraNeo-Regular.woff2) format(woff2);
}

@font-face {
  font-family: "LXGWBright";
  src: url(../../src/assets/LXGWBright-Regular.ttf) format(truetype);
}

:root {
  --vp-font-family-base: "LXGWBright";
  --vp-font-family-mono: "FiraNeo", "LXGWBright";
}
