@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /*
  h, hue 色相
  s, saturation 饱和度
  l, lightness 亮度
  a, alpha 透明度
  */
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 当视口宽度 >= 1024px 时, 应用以下样式 */
@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* grid 网格布局 (行列, 二维布局)  */
  /* fr, fraction 划分为两列 */
  /* rem 根元素的字体大小 */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

input {
  /* display: block; */
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

input:focus {
  box-shadow: 0 0 5px lightblue;
}
