@import 'tailwindcss';

:root {
  font-family: Tokyo, 'Yuanti SC', 'Sarasa Gothic SC' !important;
  --color-1st: #646cff;
  --color-2nd: #535bf2;
  --color-3rd: #1a1a1a;
  --color-4th: #213547;
  --color-5th: #747bff;
  --color-6th: #f9f9f9;
  --color-7th: #646cffaa;
  --color-8th: #61dafbaa;
  --color-9th: #888;
}
